[user]
	name = Michael Cordell
	email = surpher@gmail.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ir = rebase -i --autosquash @{u}
	a = add
	c = commit
	s = status --short
	please = push --force-with-lease
	cam = commit --amend --no-edit
	rh = reset HEAD
	cob = checkout -b
	co = checkout
	staged = diff --cached
	rc = rebase --continue
	dtc = diff --name-only HEAD HEAD~1
	df = diff --name-only
	compare = log --left-right --graph --cherry-pick --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --no-merges
	g = grep --break --heading --line-number
	uncommit = reset --soft HEAD~1
	ctags = !.git/hooks/ctags
	soft = reset --soft HEAD~1
	hard = reset --hard
	cleanup = clean -f **/*orig
	branchr = branch --sort=committerdate
[core]
	editor = nvim
	excludesfile = /Users/michael/.gitignore_global
	autocrlf = input
[push]
	default = simple
[github]
	user = mcordell
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = nvim -f --cmd \"let g:fugitivediff=1\" -c \"Gdiff\" \"$MERGED\"
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rerere]
	enabled = true
