[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/delmitmate"]
	path = .vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
