[user]
	name = Michael Cordell
[include]
	path = .computer_gitconfig
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ir = rebase -i --autosquash @{u}
	a = add
	c = commit
	s = status --short
	please = push --force-with-lease
	cam = commit --amend --no-edit
	rh = reset HEAD
	cob = checkout -b
	co = checkout
	staged = diff --cached
	rc = rebase --continue
	dtc = diff --name-only HEAD HEAD~1
	df = diff --name-only
	compare = log --left-right --graph --cherry-pick --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --no-merges
	g = grep --break --heading --line-number
	uncommit = reset --soft HEAD~1
	ctags = !.git/hooks/ctags
	soft = reset --soft HEAD~1
	hard = reset --hard
	cleanup = clean -f **/*orig
	branchr = branch --sort=committerdate
	basebranch = !gh pr view --json baseRefName -q .baseRefName
	files = !git diff --name-only $(git merge-base HEAD \"$MERGE_BASE\")
	stat = !git diff --stat $(git merge-base HEAD \"$MERGE_BASE\")
	review = !nvim -p $(git files) +\"tabdo Gdiff $MERGE_BASE\" +\"let g:gitgutter_diff_base = '$MERGE_BASE'\"
	recentb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | column -ts'|';}; r"
[core]
	editor = nvim
	excludesfile = /Users/michael/.gitignore_global
	autocrlf = input
[push]
	default = current
[github]
	user = mcordell
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = nvim -f --cmd \"let g:fugitivediff=1\" -c \"Gdiffsplit!\" \"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rerere]
	enabled = true
[commit]
	gpgsign = true
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color]
	ui = true
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
[hub]
	protocol = ssh
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
