snippet php "php opening"
<?php
${0}
endsnippet
#getter/setter method
snippet gsm
/**
 * Sets the value of ${1:foo}
 *
 * @param $1 ${3:description}
 *
 * @return ${4:`vim_snippets#Filename()`}
 */
${5:public} function set${6:$1}($$1)
{
	$this->${8:$1} = $$1;
	return $this;
}

/**
 * Gets the value of ${9:$1}
 *
 * @return ${10:$1}
 */
${11:$5} function get${12:$2}()
{
	return $this->${11:$1};
}
endsnippet
