snippet dm "Describe model"
require 'rails_helper'

endsnippet

snippet  nv "not valid"
it "is not valid" do
  expect(${1}).not_to be_valid
end
endsnippet

snippet  bt "expect to be be true"
it "is returns true" do
  expect(${1}).to be_truthy
end
endsnippet
